li{
  margin-top: 15px;
  border-top: 1px solid rgba(153, 0, 255, 0.534);
  margin-left: 70px;
  margin-right: 102px;
}

.header {
  width: 100%;
  background-color: rgb(153, 0, 255);
  text-align: center;
}

.header .container .logo {
  font-family: 'Rubik Mono One', sans-serif;
  width: 100px;
  line-height: 50px;
  color: #fff700;
  font-size: 35px;
  cursor: pointer;
  text-shadow: 2px 2px 3px rgba(251, 255, 0, 0.445), -2px -2px 3px rgba(255, 174, 0, 0.445);
  -webkit-text-stroke: 1px #fff700;
  -webkit-text-fill-color: transparent;
  letter-spacing: 5px;
  display: inline;
  margin-right: 5%;
}

#inputTask{
  background-color: rgb(238, 178, 213);
  width: 35%;
}

#buttonAddTask{
  background-color: rgb(219, 226, 161);
  border-radius: 5px;
}

#inputTaskText{
  text-align: center;
  word-break:break-all;
  margin-left: 102px;
  margin-right: 102px;
  color: rgba(109, 140, 141, 0.781);
}

#buttonRemove{
  text-align: center;
}

.showingOff{
  visibility: hidden;
}

.liTodo{
  text-align: center;
  list-style-type: none;
  font-size: 30px;
  word-break:break-all;
}

.liTodo.butt{
  background-color: rgba(255, 0, 0, 0.384);
  font-size: 17px;
  height: 35px;
  border-radius: 20px;
  margin-left: 80%;
}

.liTodo.butt:hover{
  background-color: rgba(255, 0, 0, 0.815);
}